.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-kumpulan-cerita{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-right: 2px solid;
    padding: 20px
}
.container-ceritaku{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px
}
.cerita{
    border: 1px solid;
}